emotivFlow.json
[
    {
        "id": "43d30511a4e8ba99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29334321.88b60c",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "5f4fa135b864e08d"
            ]
        ]
    },
    {
        "id": "7c2aa7c.b960158",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "0fa042d37c4d010e"
            ]
        ]
    },
    {
        "id": "60f1b51ed71ee45d",
        "type": "EMOTIV",
        "z": "43d30511a4e8ba99",
        "name": "EMOTIV",
        "x": 60,
        "y": 220,
        "wires": [
            [
                "7b86e208264656da"
            ]
        ]
    },
    {
        "id": "7b86e208264656da",
        "type": "Profile-Name",
        "z": "43d30511a4e8ba99",
        "name": "Profile Name",
        "profileName": "domb",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "3de480bf.41b19",
                "98aa2d1e.0320c"
            ]
        ]
    },
    {
        "id": "3de480bf.41b19",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "push",
        "mcSen": "10",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "29334321.88b60c"
            ]
        ]
    },
    {
        "id": "98aa2d1e.0320c",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "pull",
        "mcSen": "10",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "7c2aa7c.b960158"
            ]
        ]
    },
    {
        "id": "36684e8a540cdc3a",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "filterMessages",
        "func": "if (global.get(\"Enabled\") == false)\n{\n    msg.payload = \"None\"\n    return msg\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 100,
        "wires": [
            [
                "a790c1ce4b85e704"
            ]
        ]
    },
    {
        "id": "0e196c1a6c2c1dc4",
        "type": "inject",
        "z": "43d30511a4e8ba99",
        "name": "Enable",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 70,
        "y": 500,
        "wires": [
            [
                "7b66f64cddfb350d"
            ]
        ]
    },
    {
        "id": "b0a6eb90c9b2bba6",
        "type": "inject",
        "z": "43d30511a4e8ba99",
        "name": "Disable",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 70,
        "y": 560,
        "wires": [
            [
                "e86374b5f24ef6a0"
            ]
        ]
    },
    {
        "id": "7b66f64cddfb350d",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "set true",
        "func": "global.set(\"Enabled\",true)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"Enabled\", true)",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e86374b5f24ef6a0",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "set true",
        "func": "global.set(\"Enabled\",false)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"Enabled\", true)",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5f4fa135b864e08d",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "\nmsg.payload = \"push\" + \",\" +msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "0fa042d37c4d010e",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"pull\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "0bf0848bbc4fe879",
        "type": "debug",
        "z": "43d30511a4e8ba99",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 100,
        "wires": []
    },
    {
        "id": "09c50b6a5320e024",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "4899ba31bb2c1903"
            ]
        ]
    },
    {
        "id": "6fe6f8b24d435ffd",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "e50697e85e625dee"
            ]
        ]
    },
    {
        "id": "658d4c98cfc4d5a8",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "lift",
        "mcSen": "10",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "09c50b6a5320e024"
            ]
        ]
    },
    {
        "id": "822ae01dc9d1ddc9",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "drop",
        "mcSen": "10",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "6fe6f8b24d435ffd"
            ]
        ]
    },
    {
        "id": "4899ba31bb2c1903",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"lift\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "e50697e85e625dee",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"drop\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "7c4a633aec7f8ffd",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "673c900f1284577d"
            ]
        ]
    },
    {
        "id": "924467928fa9942b",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "ea17f5c9cb2cc314"
            ]
        ]
    },
    {
        "id": "6aab2370a5d1e7d4",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": "10",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "7c4a633aec7f8ffd"
            ]
        ]
    },
    {
        "id": "6c11cf634779efc9",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": "10",
        "x": 570,
        "y": 580,
        "wires": [
            [
                "924467928fa9942b"
            ]
        ]
    },
    {
        "id": "673c900f1284577d",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"left\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 520,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "ea17f5c9cb2cc314",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"right\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "26649270b7f06323",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "6e1594546db2d4c1"
            ]
        ]
    },
    {
        "id": "93ddeadbbbb6bde8",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "c7ce34eb8a626a3b"
            ]
        ]
    },
    {
        "id": "c53b63ca4594fc89",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateRight",
        "mcSen": "10",
        "x": 590,
        "y": 660,
        "wires": [
            [
                "26649270b7f06323"
            ]
        ]
    },
    {
        "id": "2e36c8375be3f026",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateLeft",
        "mcSen": "10",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "93ddeadbbbb6bde8"
            ]
        ]
    },
    {
        "id": "6e1594546db2d4c1",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateRight\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "c7ce34eb8a626a3b",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateLeft\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "e320e392b25d9cce",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 800,
        "wires": [
            [
                "a7cd32090b55da52"
            ]
        ]
    },
    {
        "id": "07f5cc7d74d535e5",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 860,
        "wires": [
            [
                "a9565dc8d411c5c3"
            ]
        ]
    },
    {
        "id": "19f2e45d2c6b8910",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateCounterClockwise",
        "mcSen": "10",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "e320e392b25d9cce"
            ]
        ]
    },
    {
        "id": "7f815205cb47aee0",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateClockwise",
        "mcSen": "10",
        "x": 550,
        "y": 860,
        "wires": [
            [
                "07f5cc7d74d535e5"
            ]
        ]
    },
    {
        "id": "a7cd32090b55da52",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateCounterClockwise\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 800,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "a9565dc8d411c5c3",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateClockwise\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 860,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "27507fc6ac8d19be",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 920,
        "wires": [
            [
                "8c7455bc447a170f"
            ]
        ]
    },
    {
        "id": "d546542e86cbbb13",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 980,
        "wires": [
            [
                "0e58fcdbfc7412be"
            ]
        ]
    },
    {
        "id": "1f6d43d2f87ca875",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateReverse",
        "mcSen": "10",
        "x": 560,
        "y": 920,
        "wires": [
            [
                "27507fc6ac8d19be"
            ]
        ]
    },
    {
        "id": "5935d78ff026d009",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "rotateForwards",
        "mcSen": "10",
        "x": 560,
        "y": 980,
        "wires": [
            [
                "d546542e86cbbb13"
            ]
        ]
    },
    {
        "id": "8c7455bc447a170f",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateReverse\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "0e58fcdbfc7412be",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"rotateForwards\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "782a23cfde937475",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "0fc794a71f7d12dc"
            ]
        ]
    },
    {
        "id": "79b3fd21f393b5bc",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "disappear",
        "mcSen": "10",
        "x": 570,
        "y": 1040,
        "wires": [
            [
                "782a23cfde937475"
            ]
        ]
    },
    {
        "id": "0fc794a71f7d12dc",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "msg.payload = \"disappear\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1040,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "7a8c836bb7e6c480",
        "type": "switch",
        "z": "43d30511a4e8ba99",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "75940a7959b0bddf"
            ]
        ]
    },
    {
        "id": "1330692373ffb691",
        "type": "Mental-Command",
        "z": "43d30511a4e8ba99",
        "name": "Mental Commands",
        "actionName": "neutral",
        "mcSen": "10",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "7a8c836bb7e6c480"
            ]
        ]
    },
    {
        "id": "75940a7959b0bddf",
        "type": "function",
        "z": "43d30511a4e8ba99",
        "name": "setMsg",
        "func": "\nmsg.payload = \"neutral\" + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "36684e8a540cdc3a"
            ]
        ]
    },
    {
        "id": "88314c52ea4d1f8c",
        "type": "inject",
        "z": "43d30511a4e8ba99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 40,
        "wires": [
            [
                "75940a7959b0bddf"
            ]
        ]
    },
    {
        "id": "a790c1ce4b85e704",
        "type": "delay",
        "z": "43d30511a4e8ba99",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1530,
        "y": 100,
        "wires": [
            [
                "0bf0848bbc4fe879"
            ]
        ]
    }
]